* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* base Style */
a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'nunito', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* Header */
header {
    color: white;
    min-height: 100vh;
    width: 100%;
    background: url('../Image/banner.png') rgba(4,9, 30, 0.9);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links li a {
    font-size: 13px;
}

.nav-links li::after {
    content: "";
    width: 0%;
    height: 2px; 
    background: #e91b0c;
    display: block;
    transition: width .5s ease;
    margin: auto;
}

.nav-links li:hover::after {
    width: 100%;
}

.showcase {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.showcase h1 {
    font-size: 62px;
}

.showcase p {
    font-size: 14px;
    margin: 10px auto 40px;
    width: 50%;
}

@media (max-width: 700px) {
    .showcase h1 {
        font-size: 30px;
    }

    .showcase p {
        width: 90%;
    }

    .showcase .btn {
        font-size: 13px;
    }

        
    nav span,
    nav span::before, 
    nav span::after {
        content: '';
        background-color: white;
        display: block;
        width: 22px;
        height: 2px;
        position: relative;
    }


    nav span::before, 
    nav span::after {
        position: absolute;
        top: -5px;
    }

    nav span::after {
        top: 5px;
    }

    nav .menu-close {
        background: transparent;
        margin: 20px;
    }

    nav .menu-close:before {
        transform: rotate(-45deg);
        top: 0;
    }

    nav .menu-close::after {
        transform: rotate(45deg);
        top: 0;
    }


    .nav-links li {
        display: block;
        border-bottom: 1px solid white;
        padding: 30px auto;
    }

    .nav-links li:hover {
        opacity: .7;
    }

    .nav-links {
        position: absolute;
        color: white;
        background: #e91b0c;
        height: 100vh;
        width: 0;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        overflow: hidden;
        transition: 1s;
    }
}


/* Course section */
.course {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.row {
    display: flex;
    margin: 5%;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: #ffd3d3;
    border-radius: 10px;
    padding: 20px 12px;
    cursor: pointer;
    margin-bottom: 5%;
    transition: .5s;
}

.course-col:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.356);
}

h3 {
    font-weight: 600px;
    margin: 10px;
}


@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Campus */
.campus {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col {
    flex-basis: 40%;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.campus-col .layer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    transition: .5s;
}

.campus-col .layer:hover {
    background-color: #e91b0caf;
}

.campus-col .layer::before {
    content: 'London';
    display: block;
    font-weight: 500;
    color: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    transition: .5s;
}

.campus-col .newyork::before {
    content: 'NewYork';
}

.campus-col .washington::before{
    content: 'Washington'
}

.campus-col .layer:hover::before {
    color: white;
    bottom: 50%;
}

.campus-col img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* Facilites */
.facilities{
    width: 90%;
    margin: 100px auto;
    text-align: center;
    padding-top: 50px;
}

.facility-col{
    flex-basis: 31%;
    margin-bottom: 5%;
    cursor: pointer;
    position: relative;
    text-align: left;
}

.facility-col img {
    width: 100%;
    border-radius: 10px;
}

.facility-col h3 {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.facility-col p {
    opacity: .7;
    padding: 0;
}

/* Testimonials */
.testimonials {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonial-col {
    flex-basis: 49%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #ffdcdc;
    padding: 25px;
    cursor: pointer;
    display: flex;
    flex-wrap: flex;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}


.testimonial-col p {
    padding: 0;
}

.testimonial-col h3 {
    margin: 15px 0; 
}


.testimonial-col .rating {
    color: #f44336;
}

@media (max-width: 700px) {
    .testimonial-col img {
        margin-left: 0;
        margin-right: 15px;
    }
}


/* Call To Action */
.callToAction {
    color: white;
    width: 90%;
    margin: 50px auto;
    padding: 100px 0;
    text-align: center;
    background: url('../Image/banner2.jpg') rgba(0, 0, 0, 0.746);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    border-radius: 10px;
}

.callToAction h1 {
    margin-bottom: 40px;
    padding: 0; 
}

.callToAction a {
    padding: 12px 35px;
}


/* footer */
footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h3 {
      margin-bottom: 25px;
      margin-top: 20px;
      font-weight: 600; 
}

.footer p {
    font-size: 16px;
    font-weight: 200;
}

.social-media i {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.social-media .fa-heart-o {
    color: #f44336;
}

/* Utilites */
.btn {
    display: inline-block;
    border: 1px solid white;
    padding: 12px 30px;
    position: relative;
    cursor: pointer;
}


.btn::before {
    left: -15px;
}

.btn::after {
    right: -15px;
}

.btn:hover{
    background-color: #f61c0c;
    border-color: transparent;
    transition: .5s;   
}

.heading {
    font-size: 36px;
    font-weight: 600;
}

.paragraph {
    font-size: 14px;  
    padding: 10px;
    font-weight: 100px;
}
